.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

.profile__avatar {
  margin-right: 20px;
}

.profile__column {
  display: flex;
  flex-direction: column;
}

.profile__name {
  margin: 0 0 12px;
}

.profile__description {
  margin: 0;
}

.profile__edit-button {
  margin-top: auto;
  border: none;
  background-color: transparent;
  display: flex;
  padding: 0;
  align-items: center;
  width: 107.34px;
  height: 16px;
  /* font-family: "Poppins", Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px; */
  color: #212121;
}

.profile__edit-button__icon {
  margin-right: 8px;
}

.profile__add-button {
  margin-left: auto;
}
