.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

.profile__avatar {
  margin-right: 20px;
  height: 190px;
  width: 190px;
}

.profile__column {
  display: flex;
  flex-direction: column;
}

.profile__name {
  margin: 0 0 12px;
  font-family: Poppins, Arial, sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  color: #212121;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__description {
  margin: 0;
  font-family: Poppins, Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  color: rgba(33, 33, 33, 0.7);
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

/*Add @media for the .profile__edit-button for mxw: 627*/

.profile__edit-button {
  margin-top: auto;
  border: none;
  background-color: transparent;
  display: flex;
  padding: 0;
  align-items: center;
  width: 107.34px;
  height: 16px;
  font-family: "Poppins", Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  color: #212121;
  opacity: 70%;
  cursor: pointer;
}

.profile__edit-button:hover {
  color: rgba(33, 33, 33, 0.8);
}

.profile__edit-button__icon {
  margin-right: 8px;
}

.profile__edit-button__icon:hover {
  color: rgba(33, 33, 33, 0.8);
}

.profile__add-button {
  margin-left: auto;
  margin-top: auto;
  width: 149px;
  height: 52px;
  border-radius: 8px;
  gap: 8px;
  background-color: #212121;
  border: none;
  color: #fcf5e5;
  cursor: pointer;
}

.profile__add-button:hover {
  background-color: rgba(33, 33, 33, 0.8);
}

@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    max-width: 288px;
    align-items: center;
    text-align: center;
    padding-top: 20px;
  }

  .profile__avatar {
    margin: 0 0 12px;
    width: 80px;
    height: 80px;
    border-radius: 8px;
  }

  .profile__column {
    margin: 0 0 20px;
    align-items: center;
    width: 100%;
  }

  .profile__name {
    margin: 0 0 6px;
    max-width: 288px;
    font-size: 20px;
  }

  .profile__description {
    margin: 0 0 32px;
    max-width: 288px;
    font-size: 16px;
  }

  .profile__edit-button {
    margin: 0;
    width: auto;
    align-self: center;
  }

  .profile__add-button {
    margin: 0;
    width: 288px;
  }
}
